header {
    background-color: rgb(1, 1, 1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

.nav-button {
    text-decoration: none;
    background-color: rgb(1, 1, 1);
    color: #fff;
    padding: 10px 20px;
}

.nav-button:hover {
    background-color: #222430;
}

#logo {
    width: 100px;
    height: 70px;
}

